<router-outlet>

  <div class="min-h-screen min-w-full bg-slate-200 dark:bg-slate-700">
    <div class="flex justify-between bg-teal-600 text-white p-5 font-semibold text-lg shadow-lg dark:bg-slate-800">
      Dark Mode with Angular and TailwindCSS
      <button class="flex transition-transform hover:scale-125 align-middle" (click)="darkMode.set(!darkMode())" >
        <span *ngIf="!darkMode()" class="material-icons">dark_mode</span>
        <span *ngIf="darkMode()" class="material-icons">light_mode</span>
      </button>
    </div>
  </div>

</router-outlet>
